.secao-sobre {
  padding-bottom: 120px;
}

.secao-sobre-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.secao-sobre-conteudo figure,
.secao-sobre-conteudo .secao-sobre-descricao {
  flex: 1;
}

.secao-sobre-conteudo figure img {
  width: 100%;
  border-radius: 8px;
}

.secao-sobre-conteudo .secao-sobre-descricao {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secao-sobre-descricao .sobre-mim {
  margin-bottom: 40px;
}

.secao-sobre-descricao .sobre-mim p {
  color: var(--cinza-3);
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 8px;
  font-weight: 400;
}

.secao-sobre-descricao .formacao-cursos .formacao-item {
  background: var(--primaria-cinza-0);
  margin: 4px 0;
  padding: 8px;
  border: 1px solid var(--primaria-cinza-1);
  border-radius: 4px;
  transition: all .3s;
}

.secao-sobre-descricao .formacao-cursos .formacao-item:hover {
  background: var(--cor-primaria-7);
  border-color: var(--cor-primaria);
  transform: translateY(-2px);
}

.secao-sobre-descricao .formacao-cursos .formacao-item h3 {
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--cinza-3);
}

.secao-sobre-descricao .formacao-cursos .formacao-item.ads {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secao-sobre-descricao .formacao-cursos .formacao-item.ads h3,
.secao-sobre-descricao .formacao-cursos .formacao-item.ads .ads-span {
  width: 50%;
}

.secao-sobre-descricao .formacao-cursos .formacao-item.ads .ads-span span {
  display: block;
  color: var(--cinza-5);
  text-align: right;
}

.secao-sobre-descricao .formacao-cursos .formacao-item.ads .ads-span span:not(:last-of-type) {
  margin-bottom: 4px;
}

.secao-sobre-descricao .formacao-cursos .ingles-ensinomedio {
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.secao-sobre-descricao .formacao-cursos .ingles-ensinomedio > .formacao-item {
  flex: 1;
}