@media (max-width: 1090px) {
  .conhecimentos-emdesenvolvimento .emdesenvolvimento-imgs {
    justify-content: center;
    gap: 12px;
  }
}

@media (max-width: 920px) {
  .conhecimentos {
    flex-direction: column;
  }
  .conhecimentos .conhecimentos-principais {
    width: 100%;
  }
  .conhecimentos .conhecimentos-emdesenvolvimento {
    width: 100%;
  }
  .conhecimentos-emdesenvolvimento .emdesenvolvimento-imgs {
    justify-content: center;
    gap: 12px;
  }
}

@media (max-width: 650px) {
  .conhecimentos-principais .principais .principais-titulo-box span {
    font-size: 16px;
  }
  .conhecimentos-principais .principais .principais-descricao-box h3 {
    font-size: 16px;
  }  
  .conhecimentos-principais .principais .principais-descricao-box p {
    font-size: 14px;
  }
}