.js .conhecimentos-principais .principais .principais-titulo-box {
  justify-content: center;
}

.js .conhecimentos-principais .principais .principais-descricao-box {
  display: none;
}

.js .conhecimentos-principais .principais .principais-descricao-box::before {
  background: var(--cor-primaria);
}

.js .conhecimentos-principais .principais .principais-titulo-box span:hover {
  background: var(--cor-secundaria);
  color: var(--cinza-0);
  transform: translateX(8px);
}

.js .conhecimentos-principais .principais .principais-titulo-box span {
  cursor: pointer;
}

.js .conhecimentos-principais .principais .principais-titulo-box span.js-ativo {
  background: var(--cor-primaria-7);
  border-color: var(--cor-primaria);
  color: var(--cor-primaria);
  cursor: pointer;
  transform: translateX(8px);
}

.js .conhecimentos-principais .principais .principais-titulo-box span.js-ativo::after {
  content: '';
  position: absolute;
  height: 8px;
  background: var(--primaria-cinza-1);
  width: 32px;
  right: -32px;
  top: 50%;
  border-top: 1px solid var(--primaria-cinza-1);
  border-bottom: 1px solid var(--primaria-cinza-1);
  transform: translateY(-50%);
  animation: showSpan .8s;
}

.js .conhecimentos-principais .principais .principais-titulo-box span.js-ativo::after {
  background: var(--cor-primaria-7);
  border-color: var(--cor-primaria);
}

.js .conhecimentos-principais .principais .principais-descricao-box.js-ativo {
  display: flex;
  background: var(--cor-primaria-7);
  border-color: var(--cor-primaria);
  min-height: 400px;
  animation: slideBox .8s ease;
}

.js .conhecimentos-principais .principais .principais-descricao-box.js-ativo:hover {
  transform: translateY(0);
}

@keyframes slideBox {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes showSpan {
  from {
    width: 0;
    right: 0;
    opacity: 0;
  }
  to {
    width: 32px;
    right: -32px;
    opacity: 1;
  }
}