.secao-conhecimentos {
  padding-top: 120px;
  position: relative;
}

.secao-conhecimentos::before {
  content: '';
  height: 4px;
  max-width: 1440px;
  width: 100%;
  background: var(--primaria-cinza-1);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.conhecimentos {
  display: flex;
  gap: 40px;
}

.conhecimentos .conhecimentos-principais,
.conhecimentos .conhecimentos-emdesenvolvimento {
  flex: 1;
}

.conhecimentos-principais .principais {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.conhecimentos-principais .principais .principais-titulo-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.conhecimentos-principais .principais .principais-titulo-box span {
  font-size: 20px;
  line-height: 1;
  font-family: 'Kelly Slab', cursive;
  padding: 12px;
  background: var(--primaria-cinza-1);
  color: var(--primaria-cinza-4);
  border-radius: 4px;
  letter-spacing: 0.1rem;
  position: relative;
  border: 1px solid transparent;
  transition: all .3s;
}

.conhecimentos-principais .principais .principais-descricao-box-container {
  width: 60%;
}

.conhecimentos-principais .principais .principais-descricao-box {
  padding: 20px 20px 40px 20px;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--primaria-cinza-1);
  position: relative;
  text-align: center;
  transition: all .3s;
}

.conhecimentos-principais .principais .principais-descricao-box:hover {
  background: var(--cor-primaria-7);
  transform: translateY(-2px);
}

.conhecimentos-principais .principais .principais-descricao-box::before {
  content: '';
  background: var(--primaria-cinza-1);
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 15%;
}

.conhecimentos-principais .principais .principais-descricao-box h3 {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: var(--cinza-3);
}

.conhecimentos-principais .principais .principais-descricao-box p {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--cinza-3);
  text-align: center;
  margin: 40px 0;
}

.conhecimentos-emdesenvolvimento p {
  margin-top: 32px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cinza-3);
  position: relative;
}

.conhecimentos-emdesenvolvimento p::after {
  content: '';
  height: 1px;
  width: 70%;
  background: var(--primaria-cinza-1);
  bottom: -0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.conhecimentos-emdesenvolvimento .emdesenvolvimento-imgs {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.conhecimentos-emdesenvolvimento .emdesenvolvimento-imgs img {
  filter: grayscale(100%);
  transition: all .3s ease-in-out;
}

.conhecimentos-emdesenvolvimento .emdesenvolvimento-imgs img:hover {
  filter: grayscale(0);
  transform: translateY(-4px);
}
