header {
  padding: 2rem 0;
  width: 100%;
  position: relative;
  transition: background-color .3s ease;
}

.topo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img:hover {
  filter: brightness(1.5);
}

#mobile-menu {
  display: none;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu a {
  color: var(--cinza-2);
  letter-spacing: .05rem;
  font-weight: 600;
  text-transform: lowercase;
  padding: 1rem 0;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: right;
  transition: color .3s ease-in-out;
  position: relative;
}

.nav-menu a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0.5rem;
  width: 0px;
  height: 0.125rem;
  transition: width .6s ease;
}

.nav-menu a:hover::after {
  width: 100%;
  background-color: var(--cor-secundaria);
}

.nav-menu a:hover {
  color: var(--cor-secundaria);
}